@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none;
    color: white;
}

.bg-custom {
    background: linear-gradient(90deg,
            /* 0deg */
            /* #000000, */
            #121212,
            #232323,
            #343434,
            #464646,
            #575757,
            #696969,
            #7A7A7A, );
}

.bg-base {
    background-color: #121212;
}

.shadow_drop {
    clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%);
    filter: drop-shadow(0px 0px 14px #545454) drop-shadow(0px 0px 14px #545454) drop-shadow(0px 0px 14px #545454);
    /* #44d62c */
}

.bg_custom_card {
    background-color: #232323;
}

.bg_custom_table {
    --bs-table-bg: #2323237a;
    --bs-table-color: #fff;
    --bs-table-hover-color: #44d62c;
    --bs-table-hover-bg: #121212;
}

.btn_custom_create {
    color: #fff;
    background-color: transparent;
    border: 2px solid #232323;
    transition: color 0.3s, background-color 0.3s, border 0.3s, filter 0.3s;

    &:hover {
        color: #fff;
        background-color: #232323;
        border: 2px solid #fff;
        filter: drop-shadow(0px 0px 14px #fff)drop-shadow(0px 0px 14px #545454)drop-shadow(0px 0px 14px #545454);
    }
}